<ul>
  <li><strong>Name</strong>: <%= @video['name'] %></li>
  <li><strong>Description</strong>: <p><%= @video['description'] %></p></li>
  <li><strong>Genre</strong>: <%= @video['genre'] %></li>
  <div class='video'>
    <iframe src="<%= @video['embed'] %>"></iframe>
  </div>
  <li><a href="/videos/<%= @video['id'] %>/edit">Edit</a></li>
  <li><a href="/videos/<%= @video['id'] %>/delete">Delete</a></li>
</ul>
