<form method="GET" action='<%= "/games/secret" %>'>
<p>Guess a number between 1 and 10</p>
  <select name="guess">
    <% guess = 1 %>
    <% while guess < 11 do %>
      <option value="<%= guess %>"><%= guess %></option>
      <% guess += 1 %>
    <% end %>
  </select>
  <input type="submit" value="Guess">
</form>
<% if @response.present? && params[:guess].present? %>
  <p>Your guess was <%= @response %> app number <%= @num %></p>
<% end %>