<!DOCTYPE html>
<html>
<head>
  <title>World's Oceans</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Oceans', oceans_path %></li>
      <li><%= link_to 'New Ocean', oceans_new_path %></li>
    </ul>
  </header>

<%= yield %>

</body>
</html>
