<%= form_for @artwork do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :location %>
  <%= f.text_field :location %>
</p>
<p>
  <%= f.label :info %>
  <%= f.text_field :info %>
</p>
<p>
  <%= f.label :image %>
  <%= f.text_field :image %>
</p>

  <%= f.submit %>
<% end %>