<ol>
  <% @recipes.each do |recipe| %>
  <li>
    <ul>
      <li><%= link_to recipe.name, recipe_path(recipe.id) %></li>
      <li><%= recipe.course %></li>
      <li><%= recipe.cooktime %></li>
      <li><%= recipe.servingsize %></li>
      <li><%= recipe.instructions %></li>
      <li><%= recipe.book_id %></li>
      <li><%= image_tag recipe.image %></li>
    </ul>
  </li>
<% end %>
</ol>
