<h1>Secret Number</h1>

<p>Guess which number I'm thinking of between 1 and 10</p>

<div class='number'>
  <ul>
    <li><%= link_to '1', '/secret_number/1' %></li>
    <li><%= link_to '2', '/secret_number/2' %></li>
    <li><%= link_to '3', '/secret_number/3' %></li>
    <li><%= link_to '4', '/secret_number/4' %></li>
    <li><%= link_to '5', '/secret_number/5' %></li>
    <li><%= link_to '6', '/secret_number/6' %></li>
    <li><%= link_to '7', '/secret_number/7' %></li>
    <li><%= link_to '8', '/secret_number/8' %></li>
    <li><%= link_to '9', '/secret_number/9' %></li>
    <li><%= link_to '10', '/secret_number/10' %></li>
  </ul>
</div>