<h2> Enter your new video details </h2>

<form method="post" action="/videos/update">
  <label for="name">Name:</label>
  <input name="name" placeholder="Your Video name here" value="<%= @video['name'] %>">

  <label for="description">Description:</label>
  <textarea name="description"><%= @video['description'] %></textarea>

  <label for="embed">Embed URL:</label>
  <textarea name="embed" placeholder="Your video URL here"><%= @video['embed'] %></textarea>

  <label for="genre">Genre</label>
  <input name="genre" placeholder="Your Video genre here" value="<%= @video['genre'] %>">

  <input type="hidden" name="id" value="<%= @video['id'] %>">


  <input type="submit" value="Update">

</form>