
<h2><%= @movie_info["Title"] %></h2>

<h3><%= @movie_info["Plot"] %></h3>

<p><%= @movie_info["Title"] %> was released in <%= @movie_info["Year"] %></p>

<p>Dir: <%= @movie_info["Director"] %></p>

<p>Writer(s): <%= @movie_info["Writer"] %></p>

<p>Starring: <%= @movie_info["Actors"] %></p>

<img src="<%= @movie_info["Poster"] %>"