<form method="get" action="/">
  <input name="movierequest" placeholder="Enter movie title">
  <input type="submit" value="Look Up Movie">
</form>

<link rel="stylesheet" type="text/css" href="style.css">

<article>
  <!--below: if statement allows movie info to be displayed on same page as form, while not displaying anything if no movie has been requested -->
  <% if @title %>
    <h2><%= @title %></h2>

      <p><b>Plot:</b> <%= @movieplot %></p>
      <p><b>Year:</b> <%= @movieyear %></p>
      <p><b>Runtime:</b> <%= @movieruntime %></p>
      <p><b>Genre:</b> <%= @moviegenre %></p>
      <p><b>Director:</b> <%= @moviedirector %></p>
      <p><b>Actors:</b> <%= @movieactors %></p>
      <img src=<%= @movieposter %>>


  <% end %>
</article>